<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE" />

    <title>Freeling Django Api Rest v1</title>

    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>

    <script src="http://{{ request.get_host }}/static/rest_framework/js/jquery-3.3.1.min.js"></script>

    <style type="text/css">
      .bs-example{
        margin: 20px;
      }
      .panel-title .glyphicon{
          font-size: 14px;
      }
    </style>
    <script>
      $(document).ready(function(){
          // Add minus icon for collapse element which is open by default
          $(".collapse.in").each(function(){
            $(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
          });
          
          // Toggle plus minus icon on show hide of collapse element
          $(".collapse").on('show.bs.collapse', function(){
            $(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
          }).on('hide.bs.collapse', function(){
            $(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
          });
      });
    </script>

  </head>
  <body class="">

    <div class="wrapper">
        <div class="navbar navbar-static-top navbar-inverse"
             role="navigation" aria-label="navbar">
          <div class="container">
            <span> 
              <a class="navbar-brand" rel="nofollow" href="/">Freeling Django API Rest</a>
            </span>
            <ul class="nav navbar-nav pull-right"></ul>
          </div>
        </div>

        <div class="container">
          <ul class="breadcrumb">HOME&nbsp;</ul>

          <!-- Content -->
          <div id="content" role="main" aria-label="content">
            <div class="content-main" role="main"  aria-label="main content">
              <div class="page-header">&nbsp;</div>
              <div class="response-info" aria-label="response info">
                
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          <span class="glyphicon glyphicon-plus"></span> Identificación de idioma "LangDetect"
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Enlace <a href="/langdetect/">http://{{ request.get_host }}/langdetect/</a></p>
                        <p>Argumentos de entrada: "texto" : "texto de entrada"</p>
                        <p>Salida: *lista de elementos* "texto" : "es | ca | en | fr | gl | it | pt | ru | de | none"</p>
                        <pre>curl http://{{ request.get_host }}/langdetect/ -H "Content-Type:application/json" -d '{"texto":"Mira que cosa más linda."}' -X POST -s
                        
Respuesta:  [{"texto": "es"}]</pre>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          <span class="glyphicon glyphicon-plus"></span> Segmentador de oraciones y tokenizador "Tokenizer"
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Enlace <a href="/tokenizer/">http://{{ request.get_host }}/tokenizer/</a></p>
                        <p>Argumentos: "texto" : "texto de entrada"</p>
                        <p>Salida: *lista de elementos* "texto" : "lista de tokens"</p>
                        <pre>curl http://{{ request.get_host }}/tokenizer/ -H "Content-Type:application/json" \
-d '{"texto":"La tarjeta SIM es una tarjeta pequeña que se coloca en el teléfono. Contiene información sobre la red móvil utilizada y servicios adicionales como SMS y MMS."}' -X POST -s

Respuesta:  [{"texto": "['La', 'La', 'tarjeta', 'SIM', 'es', 'una', 'tarjeta', 'pequeña', 'que', 'se', 'coloca', 'en', 'el', 'teléfono', '.', 
                         'Contiene', 'información', 'sobre', 'la', 'red', 'móvil', 'utilizada', 'y', 'servicios', 'adicionales', 'como', 'SMS', 'y', 'MMS', '.']" }]</pre>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          <span class="glyphicon glyphicon-plus"></span> Segmentador de oraciones "SentenceSplitting"
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Enlace <a href="/sentenceSplitting/">http://{{ request.get_host }}/sentenceSplitting/</a></p>
                        <p>Argumentos: "texto" : "texto de entrada"</p>
                        <p>Salida: *lista de elementos* "texto" : "texto dividio en Oraciones"</p>
                        <pre>curl http://{{ request.get_host }}/sentenceSplitting/ -H "Content-Type:application/json" \
-d '{"texto":"La ONU dice que I.B.M. no tiene sede en Francia sino en EEUU. Te espero el lunes a las tres menos cuarto."}' -X POST -s

Respuesta:  [{"texto": "[{'La ONU dice que I.B.M. no tiene sede en Francia sino en EEUU .} 
                         {'Te espero el lunes a las tres menos cuarto .}]" }]</pre>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                          <span class="glyphicon glyphicon-plus"></span> Etiquetador morfológico "Posttagger"
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Enlace <a href="/postagging/">http://{{ request.get_host }}/postagging/</a></p>
                        <p>Argumentos: "texto" : "texto de entrada"</p>
                        <p>Salida: *lista de hashes* `palabra`: *palabra*, `lemas`: *lista de hashes* `categoria`: *etiqueta gramatical*, `lema`: *lema*</p>
                        <pre>curl http://{{ request.get_host }}/postagging/ -H "Content-Type:application/json" \
-d '{"texto": "'{"1":"El", "2":"presidente", "3":"de", "4":"el", "5":"Barcelona"}'" }' -X POST -s

Respuesta:  [{"texto": "[{"palabra": "El", "lemas": [{"categoria": "DA0MS0", "lema": "el"}]}, {"palabra": "presidente", "lemas": [{"categoria": "NCMS000", "lema": "presidente"}]}, {"palabra": "de", "lemas": [{"categoria": "SP", "lema": "de"}, {"categoria": "NCFS000", "lema": "de"}]}, {"palabra": "el", "lemas": [{"categoria": "DA0MS0", "lema": "el"}]}, {"palabra": "Barcelona", "lemas": [{"categoria": "NP00000", "lema": "barcelona"}]}]"
} }]</pre>
                        </div>
                    </div>
                  </div>
                </div>

                <ul class="list-group">
                  <li class="list-group-item list-group-item-info"><a href="/wsdtagger/">http://{{ request.get_host }}/wsdtagger/</a></li>
                  <li class="list-group-item list-group-item-primary"><a href="/ner/">http://{{ request.get_host }}/ner/</a></li>
                  <li class="list-group-item list-group-item-success"><a href="/datesDetect/">http://{{ request.get_host }}/datesDetect/</a></li>
                  <li class="list-group-item list-group-item-danger"><a href="/parser/">http://{{ request.get_host }}/parser/</a></li>
                  <li class="list-group-item list-group-item-warning"><a href="/dependencies/">http://{{ request.get_host }}/dependencies/</a></li>
                </ul>
              </div>
            </div>
          </div><!-- /.content -->
        </div><!-- /.container -->
    </div><!-- ./wrapper -->

    <script>
        window.drf = {
          csrfHeaderName: "X-CSRFToken",
          csrfCookieName: "csrftoken"
        };
    </script>
    <script src="/static/rest_framework/js/jquery-3.3.1.min.js"></script>
    <script src="/static/rest_framework/js/ajax-form.js"></script>
    <script src="/static/rest_framework/js/csrf.js"></script>
    <script src="/static/rest_framework/js/bootstrap.min.js"></script>
    <script src="/static/rest_framework/js/prettify-min.js"></script>
    <script src="/static/rest_framework/js/default.js"></script>
    <script>
      $(document).ready(function() {
        $('form').ajaxForm();
      });
    </script>
  </body>
</html>
